---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Imprint" sideBarActiveItemID="imprint">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Impressum</div>
    <div class="text-xl w-full font-bold mb-5">
      Information gemäß §5 ECG, §14 UGB, §63 GewO und Offenlegung gemäß §25
      MedienG
    </div>
    <p>
      <strong>Firma:</strong> Weißenbek Software e.U.<br />
      <strong>Adresse:</strong> Mayrhoferstraße 11, 4030 Linz, Österreich
    </p>
    <p>
      <strong>Inhaber:</strong> Markus Weißenbek<br />
      <strong>E-Mail:</strong> markus@weissenbek.at<br />
      <strong>Telefon:</strong> +43 677 639 728 61 <br />
    </p>
    <p>
      <strong>Unternehmensgegenstand:</strong> Dienstleistungen in der automatischen
      Datenverarbeitung und Informationstechnik<br />
      <strong>UID-Nummer:</strong> ATU81603329<br />
      <strong>Firmenbuchnummer:</strong> FN 643661k<br />
      <strong>Firmenbuchgericht:</strong> Linz<br />
      <strong>Firmensitz:</strong> 4020 Linz
    </p>
    <p>
      <strong>Mitglied bei:</strong> WKO Linz<br />
      <strong>Berufsrecht:</strong> Gewerbeordnung (<a
        href="https://www.ris.bka.gv.at"
        class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
        >https://www.ris.bka.gv.at</a
      >)
    </p>
    <p>
      <strong>Aufsichtsbehörde/Gewerbebehörde:</strong> Bezirkshauptmannschaft Linz<br
      />
      <strong>Verleihungsstaat:</strong> Österreich
    </p>
    <div class="text-xl w-full font-bold mb-2 mt-5">
      Haftung für Inhalte dieser Website
    </div>
    <p>
      Wir entwickeln die Inhalte dieser Webseite ständig weiter und bemühen uns
      korrekte und aktuelle Informationen bereitzustellen. Leider können wir
      keine Haftung für die Korrektheit aller Inhalte auf dieser Website
      übernehmen, speziell für jene, die seitens Dritter bereitgestellt wurden.
      Als Diensteanbieter sind wir nicht verpflichtet, die von ihnen
      übermittelten oder gespeicherten Informationen zu überwachen oder nach
      Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
    </p>
    <p>
      Unsere Verpflichtungen zur Entfernung von Informationen oder zur Sperrung
      der Nutzung von Informationen nach den allgemeinen Gesetzen aufgrund von
      gerichtlichen oder behördlichen Anordnungen bleiben auch im Falle unserer
      Nichtverantwortlichkeit davon unberührt.
    </p>
    <p>
      Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte
      wir Sie uns umgehend zu kontaktieren, damit wir die rechtswidrigen Inhalte
      entfernen können. Sie finden die Kontaktdaten im Impressum.
    </p>
    <div class="text-xl w-full font-bold mb-2 mt-5">
      Haftung für Links auf dieser Webseite
    </div>
    <p>
      Unsere Webseite enthält Links zu anderen Webseiten für deren Inhalt wir
      nicht verantwortlich sind. Haftung für verlinkte Websites besteht für uns
      nicht, da wir keine Kenntnis rechtswidriger Tätigkeiten hatten und haben,
      uns solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir
      Links sofort entfernen würden, wenn uns Rechtswidrigkeiten bekannt werden.
    </p>
    <p>
      Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitte wir
      Sie uns zu kontaktieren. Sie finden die Kontaktdaten im Impressum.
    </p>
    <div class="text-xl w-full font-bold mb-2 mt-5">Urheberrechtshinweis</div>
    <p>
      Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen
      dem Urheberrecht. Bitte fragen Sie uns bevor Sie die Inhalte dieser
      Website verbreiten, vervielfältigen oder verwerten wie zum Beispiel auf
      anderen Websites erneut veröffentlichen. Falls notwendig, werden wir die
      unerlaubte Nutzung von Teilen der Inhalte unserer Seite rechtlich
      verfolgen.
    </p>
    <p>
      Sollten Sie auf dieser Webseite Inhalte finden, die das Urheberrecht
      verletzen, bitten wir Sie uns zu kontaktieren.
    </p>
    <br />
    <p><em>Zuletzt aktualisiert: 10.02.25</em></p>
  </div>
</BaseLayout>
