---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import RoundIcon from "../components/RoundIcon.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

/* const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3); */
---

<BaseLayout sideBarActiveItemID="home">
  <div class="mt-5">
    <div class="text-5xl font-bold">DI Markus Weißenbek</div>
    <div class="text-3xl py-3 font-bold">
      Software Architekt | Senior Software Engineer
    </div>
    <div class="py-2">
      <text class="text-lg">
        <p class="text-justify py-2">
          Selbstständiger <strong>Software Architekt</strong> und <strong
            >Senior Software Engineer
          </strong> im Web-Bereich. Seit mehr als 10 Jahren beschäftige ich mich
          damit, komplexe Geschäftsprozesse zu konzeptionieren, technisch umzusetzen
          und langfristig zu betreuen. Meine Kern-Kompetenz liegt vor allem in der
          Kombination von Technik, Wirtschaft und Team.

          <div class="divider my-2"></div>
          Meine Grundphilosophie im Leben wie auch im Beruf ist klassisch oberösterreichisch
          ”Geht ned, gibts ned!”.
        </p>
      </text>
    </div>
  </div>

  <div class="mt-12">
    <div class="text-3xl w-full font-bold mb-2">Letzten Projekte</div>
  </div>

  <HorizontalCard
    title="Energiewirtschaftlicher Datenaustauschdienst GmbH"
    img="/EDA.webp"
    desc="Maßgeschneiderte Plattform zur Verwaltung der Energiemarktteilnehmer (Netzbetreiber, Strom- & Gas-Lieferanten, etc.) inkl. Anbindung (Ponton / AS4) an die Peer-2-Peer Datenautausch-Infrastruktur."
    url="https://www.eda.at/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Single Digital Gateway (SDG)"
    img="/EU.webp"
    desc="EU-Projekt mit dem Ziel öffentliche Dienste und Informationen über alle Mitgliedstaaten hinweg zugänglich und nutzbar zu machen."
    url="https://www.bundeskanzleramt.gv.at/agenda/digitalisierung/internationale-services/projekt-single-digital-gateway.html"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Portfolio Assistent"
    img="/portfolio-assistent.png"
    desc="Plattform zur Digitalisierung und Verwaltung von Immobilien-Portfolios basierend auf dem Energieausweiß."
    url="https://www.portfolio-assistent.at/"
  />
  <div class="flex justify-end mt-4">
    <a
      class="btn btn-lg bg-orange-500 hover:bg-orange-800 rounded-full"
      href="/projects">Alle Projekte</a
    >
  </div>

  <div class="mt-12">
    <div class="text-3xl w-full font-bold mb-2 mt-12">Kern-Technologien</div>
  </div>

  <div class="flex flex-row flex-wrap">
    <RoundIcon
      name="Java"
      img="/technologies/java.png"
      format="png"
      url="https://www.java.com"
    />
    <RoundIcon
      name="Spring Boot"
      img="/technologies/spring.png"
      format="png"
      url="https://spring.io/projects/spring-boot"
    />

    <RoundIcon
      name="Angular"
      img="/technologies/angular.jpg"
      format="jpg"
      url="https://angular.dev/"
    />

    <RoundIcon
      name="Tailwind"
      img="/technologies/tailwind.png"
      format="png"
      url="https://tailwindcss.com/"
    />

    <RoundIcon
      name="Jira"
      img="/technologies/jira.png"
      format="png"
      url="https://www.atlassian.com/software/jira/"
    />

    <RoundIcon
      name="Confluence"
      img="/technologies/confluence.png"
      format="png"
      url="https://www.atlassian.com/software/confluence/"
    />
    <RoundIcon
      name="UML"
      img="/technologies/uml.png"
      format="png"
      url="https://www.uml.org/"
    />

    <RoundIcon
      name="C4 Model"
      img="/technologies/c4.png"
      format="png"
      url="https://c4model.com/"
    />

    <RoundIcon
      name="Agile Methodik"
      img="/technologies/agile.png"
      format="png"
      url="https://en.wikipedia.org/wiki/Agile_software_development/"
    />
  </div>

  <div class="flex justify-end mt-4">
    <a
      class="btn btn-lg bg-orange-500 hover:bg-orange-800 rounded-full"
      href="/technologies">Alle Technologien</a
    >
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
