---
import BaseLayout from "../layouts/BaseLayout.astro";
import RoundIcon from "../components/RoundIcon.astro";
---

<BaseLayout title="Technologien" sideBarActiveItemID="technologies">
  <div class="text-3xl w-full font-bold mb-5">Technologien</div>

  <div class="text-2xl w-full font-bold mb-5">Frameworks</div>

  <div class="flex flex-row flex-wrap">
    <RoundIcon
      name="Spring Boot"
      img="/technologies/spring.png"
      format="png"
      url="https://spring.io/projects/spring-boot"
    />

    <RoundIcon
      name="Angular"
      img="/technologies/angular.jpg"
      format="jpg"
      url="https://angular.dev/"
    />

    <RoundIcon
      name="Tailwind"
      img="/technologies/tailwind.png"
      format="png"
      url="https://tailwindcss.com/"
    />

    <RoundIcon
      name="Jira"
      img="/technologies/jira.png"
      format="png"
      url="https://www.atlassian.com/software/jira/"
    />

    <RoundIcon
      name="Confluence"
      img="/technologies/confluence.png"
      format="png"
      url="https://www.atlassian.com/software/confluence/"
    />

    <RoundIcon
      name="UML"
      img="/technologies/uml.png"
      format="png"
      url="https://www.uml.org/"
    />

    <RoundIcon
      name="C4 Model"
      img="/technologies/c4.png"
      format="png"
      url="https://c4model.com/"
    />

    <RoundIcon
      name="Agile Methodik"
      img="/technologies/agile.png"
      format="png"
      url="https://en.wikipedia.org/wiki/Agile_software_development/"
    />

    <RoundIcon
      name="Git"
      img="/technologies/gitlab.png"
      format="png"
      url="https://git-scm.com/"
    />

    <RoundIcon
      name="Docker"
      img="/technologies/docker.png"
      format="png"
      url="https://www.docker.com/"
    />

    <RoundIcon
      name="Open API"
      img="/technologies/openapi.png"
      format="png"
      url="https://swagger.io"
    />
  </div>

  <div class="text-2xl w-full font-bold mb-5 mt-5">Sprachen</div>

  <div class="flex flex-row flex-wrap">
    <RoundIcon
      name="Java"
      img="/technologies/java.png"
      format="png"
      url="https://www.java.com"
    />

    <RoundIcon
      name="Python"
      img="/technologies/python.png"
      format="png"
      url="https://www.python.org/"
    />
    <RoundIcon
      name="HTML"
      img="/technologies/html.png"
      format="png"
      url="https://en.wikipedia.org/wiki/HTML"
    />

    <RoundIcon
      name="JavaScript"
      img="/technologies/js.png"
      format="png"
      url="https://www.javascript.com"
    />

    <RoundIcon
      name="TypeScript"
      img="/technologies/typescript.png"
      format="png"
      url="https://www.typescriptlang.org/"
    />

    <RoundIcon
      name="CSS"
      img="/technologies/css.png"
      format="png"
      url="https://en.wikipedia.org/wiki/CSS"
    />
  </div>

  <div class="text-2xl w-full font-bold mb-5 mt-5">Datenbanken</div>
  <div class="flex flex-row flex-wrap">
    <RoundIcon
      name="SQL Server"
      img="/technologies/sqlserver.png"
      format="png"
      url="https://www.microsoft.com/en-us/sql-server"
    />

    <RoundIcon
      name="MariaDB"
      img="/technologies/mariadb.png"
      format="png"
      url="https://mariadb.org/"
    />

    <RoundIcon
      name="MySQL"
      img="/technologies/mysql.png"
      format="png"
      url="https://www.mysql.com/"
    />

    <RoundIcon
      name="MongoDB"
      img="/technologies/mongodb.png"
      format="png"
      url="https://www.mongodb.com/"
    />

    <RoundIcon
      name="InfluxDB"
      img="/technologies/influx.jpg"
      format="jpg"
      url="https://www.influxdata.com/"
    />
  </div>
  <div class="text-2xl w-full font-bold mb-5 mt-5">Cloud-Dienste</div>
  <div class="flex flex-row flex-wrap">
    <RoundIcon
      name="AWS"
      img="/technologies/aws.png"
      format="png"
      url="https://aws.amazon.com/"
    />

    <RoundIcon
      name="Google API"
      img="/technologies/google-maps.png"
      format="png"
      url="https://developers.google.com/maps"
    />
  </div>
</BaseLayout>
