---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Weißenbek Software e.U.
  </div>

  <span class="flex flex-row justify-center">
    <a href="/imprint">Impressum</a>
    <a href="/privacy">Datenschutz</a>
  </span>
</footer>
<style></style>
